.App {
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 15vh;
  background: lightyellow;
}

.nav-links {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
Link a:link {
  text-decoration: none;
}

Link {
  text-decoration: none;
}

